.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: blue;
    border: 1px solid rgb(174, 174, 204);
}

.paginationActive a {
    color: white;
    background-color: blue;
    border: 1px solid rgb(174, 174, 204);
}